<div class="form-general">
    <h1>Vincular Equipamento</h1>
    <hr>
    <form (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td><label for="equipment">Equipamento:</label></td>
                <td>
                    <select [(ngModel)]="allocation.equipment.id" id="equipment" name="equipment">
                        <option *ngFor="let equipment of equipments | async" [value]="equipment.id">{{ equipment.code }}
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><label for="employee">Colaborador:</label></td>
                <td>
                    <select [(ngModel)]="allocation.employee.id" id="employee" name="employee">
                        <option *ngFor="let employee of employees | async" [value]="employee.id">{{ employee.name }}
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <button type="submit" class="general-button">Salvar</button>
                <td>
                <td></td>
            </tr>
        </table>
    </form>
</div>