<div class="list-panel">
  <h2>Lista de equipamentos</h2>
  <hr>
  <table width="100%">
    <thead>
      <tr>
        <th width="10%">ID</th>
        <th width="90%">Tombamento</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipment of equipments | async">
          <td>{{equipment.id}}</td>
          <td>{{equipment.code}}</td>
          <td><button (click)="delete(equipment.id)" class="btn btn-danger">Deletar</button>
            <button (click)="update(equipment.id)" class="btn btn-info" style="margin-left: 10px">Alterar</button>
          </td>
        </tr>
      </tbody>
  </table>
</div>