<div class="form-general">
    <h1><strong>Atualizar vínculo de equipamento</strong></h1>
    <form (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td><label for="equipment">Equipamento:</label></td>
                <td><span id="id" class="identifier">{{ allocation.equipment.code }}</span></td>
            </tr>

            <tr>
                <td><label for="employee">Colaborador:</label></td>
                <td><span id="id" class="identifier">{{ allocation.employee.name }}</span></td>
            </tr>

            <tr>
                <td><label for="allocationDate">Data do vínculo:</label></td>
                <td><span id="id" class="identifier">{{ allocation.allocationDate }}</span></td>
            </tr>

            <tr>
                <td><label for="status">Status:</label></td>
                <td><span id="id" class="identifier">{{ allocation.status }}</span></td>
            </tr>

            <tr>
                <td><label for="location">Localização:</label></td>
                <td>
                    <input type="text" class="form-control" id="location" required [(ngModel)]="allocation.location" name="location">
                </td>
            </tr>

            <tr>
                <td><label for="locationDate">Última atualização da localização:</label></td>
                <td><span id="id" class="identifier">{{ allocation.locationDate }}</span></td>
            </tr>

            <tr>
                <td>
                    <button type="submit">Salvar</button>
                <td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
