<div class="form-general">
    <h1>Atualizar vínculo de equipamento</h1>
    <hr>
    <form (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td><label for="equipment">Equipamento:</label></td>
                <td><span id="equipment" class="static-field">{{ allocation.equipment.code }}</span></td>
            </tr>

            <tr>
                <td><label for="employee">Colaborador:</label></td>
                <td><span id="employee" class="static-field">{{ allocation.employee.name }}</span></td>
            </tr>

            <tr>
                <td><label for="allocationDate">Data do vínculo:</label></td>
                <td><span id="allocationDate" class="static-field">{{ allocation.allocationDate }}</span></td>
            </tr>

            <tr>
                <td><label for="acceptationDate">Data da aceitação:</label></td>
                <td><span id="acceptationDate" class="static-field">{{ allocation.acceptationDate }}</span></td>
            </tr>

            <tr>
                <td><label for="returnDate">Data da devolução:</label></td>
                <td><span id="returnDate" class="static-field">{{ allocation.returnDate }}</span></td>
            </tr>

            <tr>
                <td><label for="status">Status:</label></td>
                <td><span id="status" class="static-field">{{ allocation.status }}</span></td>
            </tr>

            <tr>
                <td><label for="location">Localização:</label></td>
                <td>
                    <input type="text" class="form-control" id="location" required [(ngModel)]="allocation.location" name="location">
                </td>
            </tr>

            <tr>
                <td><label for="locationDate">Data da localização:</label></td>
                <td><span id="locationDate" class="static-field">{{ allocation.locationDate }}</span></td>
            </tr>

            <tr>
                <td>
                    <button type="submit">Salvar</button>
                <td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
