<div [hidden]="submittedForm" class="form-general">
  <h1><strong>Cadastrar colaborador</strong></h1>
  <form (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td><label for="name">Tombamento:</label></td>
        <td><input type="text" class="form-control" id="name" required [(ngModel)]="employee.name" name="name"></td>
      </tr>

      <tr>
        <td><label for="role">Função:</label></td>
        <td><input type="text" class="form-control" id="role" required [(ngModel)]="employee.role" name="role"></td>
      </tr>

      <tr>
        <td><button type="submit">Submeter</button><td>
		    <td></td>
	    </tr>	
	  </table>

  </form>
</div>

<div [hidden]="!submittedForm">
  <h4><i class="material-icons">check_circle</i> Cadastro submetido com sucesso!</h4>
</div>

<div [hidden]="!showErrorMessage">
  <h4>Ocorreu um erro!</h4>
</div>