<div class="list-panel">
    <h1>Lista de usuários</h1>
    <table width="65%">
      <thead>
        <tr>
          <th width="10%">Login</th>
          <th width="10%">Nível</th>
          <th width="20%">Colaborador</th>
          <th width="25%">Ações</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of accounts | async">
            <td>{{ account.login }}</td>
            <td>{{ account.level }}</td>
            <td>{{ account.employee.name }}</td>
            <td>
                <button (click)="update(account.id)" class="general-button">Alterar</button>
                <button (click)="delete(account.id)" class="danger-button" style="margin-left: 10px">Deletar</button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>