/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.spacer {
    flex: 1;
}
  
header {
    display: flex;
    align-items: center;

    height: 60px;
    line-height: 60px;

    color: white;
    font-size: large;
    background-color: orangered;
  }

header img {
    margin: 0 16px;
    height: 40px;
}

header #user-icon {
    padding-right: 5px;
}

header #logout-icon {
    padding-left: 5px;
    padding-right: 10px;
}

header #user-icon:hover {
    opacity: 80%;
}

header #logout-icon:hover {
    opacity: 80%;
}

footer {
    position: fixed;
    bottom: 0;

    width: 100%;    
    height: 60px;
    line-height: 60px;

    color: white;
    background-color: orangered;
    text-align: center;
}

.content {
  padding: 10px;
}

.menu-bar {
  background-color: black;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

.menu-bar a {
  color: white;
  font-size: large;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.menu-bar a:hover {
  opacity: 80%;
}

.big-logo {
  height: 50%;
  width: 50%;
  margin-top: 30px;
}

/************************************ BARRA DE LOGIN ************************************/

.login-bar {
  background-color: lightgray;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
}

.login-bar form label {
  color: darkslategray;
  font-size: medium;
  padding-left: 20px;
  padding-right: 20px;
}

.login-bar form input {
  color: orangered;
  border-color: gray;
  border-style: 1px solid;
  border-radius: 5px;
  font-size: medium;
  background-color: wheat;
}

.general-button, .danger-button {
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 90px;
  font-size: medium;
}

.general-button {
  background-color: orangered;
}

.danger-button {
  background-color: darkslategray;
}

.general-button:hover, .danger-button:hover {
  opacity: 80%;
}

/************************************ FORMULÁRIOS *********************************************/

.form-general {
  width: 400px;
  padding: 10px;
  margin: 40px;
  background-color: lightgray;
  border-style: 1px solid;
  border-color: gray;
  border-radius: 5px;
}

.form-general h1 {
  color: orangered;
}

.form-general form table tr {
  height: 40px;
}

.form-general form label {
  font-size: medium;
  padding-right: 30px;
}

.form-general form .form-control {
  color: orangered;
  background-color: wheat;
  height: 30px;
  border-color: gray;
  border-style: 1px solid;
  border-radius: 5px;
  font-size: medium;  
}

.form-general form select {
  color: orangered;
  background-color: wheat;
  height: 30px;
  border-color: gray;
  border-style: 1px solid;
  border-radius: 5px;
  font-size: medium;
}

.static-field {
  font-size: medium;
  color: orangered;
}

/*.form-general form button {
  color: white;
  background-color: orangered;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 90px;
  font-size: medium;

  margin-top: 10px;
}

.form-general form button:hover {
  opacity: 80%;
}*/

/********************************************** LISTAGENS **********************************************/
.explaning-text {
  background-color: wheat;
  text-align: justify;
  margin-bottom: 20px;
  padding: 10px;
}

.list-panel {
  margin: 20px;
  border-style: 1px solid black;
}

.list-panel h1 {
  color: orangered;
}

.list-panel table {
  border-style: 1px;
  border-color: orangered;
  border: solid;
}

.list-panel table thead {
  font-weight: bold;
  text-align: left;
  background-color: lightgray;
  font-size: medium;
}

.list-panel table tbody tr:hover {
  background-color: wheat;
}


/****************************************************** EM DESUSO *****************************************/
.sucessMessage {
  color: white;
  background-color: green;
  padding-left: 5px;
  height: 20px;
}

.errorMessage {
  color: white;
  background-color: red;
  padding-left: 5px;
  height: 30px;
  line-height: 30px;
}
