<div class="form-general">
    <h1>Alterar usuário</h1>
    <hr>
    <form (ngSubmit)="onSubmit()">
        <table>
            <tr>
                <td><label for="login">Login:</label></td>
                <td>
                    <span id="login" class="static-field">{{ account.login }}</span>
                </td>
            </tr>

            <tr>
                <td><label for="newPassword1">Senha:</label></td>
                <td>
                    <input type="password" class="form-control" id="newPassword1" required [(ngModel)]="newPassword1" name="newPassword1">
                </td>
            </tr>

            <tr>
                <td><label for="newPassword2">Confirmar senha:</label></td>
                <td>
                    <input type="password" class="form-control" id="newPassword2" required [(ngModel)]="newPassword2" name="newPassword2">
                </td>
            </tr>

            <tr>
                <td><label for="level">Nível:</label></td>
                <td>
                    <select [(ngModel)]="account.level" id="level" name="level">
                        <option value="COLABORADOR">Colaborador</option>
                        <option value="GESTOR">Gestor</option>
                        <option value="SUPORTE">Suporte</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><label for="employee">Colaborador:</label></td>
                <td>
                    <span id="employee" class="static-field">{{ account.employee.name }}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <button type="submit" class="general-button">Salvar</button>
                <td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
